html *{
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: Noto sans, Arial, Verdana, Geneva, Tahoma, sans-serif;
}
.cb{
    clear: both;
}
body{
    background-color: #f2f2f2;
}
#header{
    text-align: right;
    margin: 6vh 5%;
    overflow: hidden;
}
#header .help{
    float: left;
}
#header .help{
    overflow: hidden;
}
#header .help button{
    margin-right: 10px;
    float: left;
    background-color: white;
    border: 1px solid white;
    padding: 25px;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    color: royalblue;
}
#header .help button img{
    position: absolute;
    margin-left: -10px;
    margin-top: -15px;
}
#header .help button span{
    position: absolute;
    margin-left: -17px;
    color: #000;
    font-weight: bolder;
    margin-top: -12px;
}
#header .help button h1{
    font-size: 50px;
    position: absolute;
    font-weight: 100;
    z-index: 20;
    top: 10px;
    margin-left: -12px;
    color: royalblue;
    display: none;
}
#header .help button:hover{
    background-color: #ccc;
}

#header .links{
    float: right;
}
#header .links a{
    font-weight: normal;
    margin-left: 20px;
}
#header .links a:nth-of-type(3n){
    display: inline-block;
    background-color: white;
    color: blueviolet;
    padding: 5px 15px;
    font-weight: 100;
    border-radius: 50px;
    border: 1px solid royalblue;
}
#header .links a:nth-of-type(3n):hover{
   background-color: royalblue;
   color: #fff;
}

#level{
    margin: 2.5vh 5%;
    text-align: center;
}
#level .circle{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #fff;
    color: royalblue;
    border: 1px solid royalblue;
}
#level .circle:hover{
    background-color: royalblue;
    color: #fff;
}
#question{
    font-size: 23px;
    color: #666;
    font-weight: 100;
    margin: 9vh 10%;
}
#options{
    margin: 2.5vh 10%;
    width: 80%;
}
#options button{
    width: 49%;
    float: left;
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: royalblue;
    border: 1px solid royalblue;
    padding: 18px 0px;
    text-align: center;
    border-radius: 50px;
    margin: 0px 2% 10px 0px;
}
#options button:hover{
    background-color: white;
    color: royalblue;
}
#options button:active{
    background-color: white;
    color: royalblue;
}
#options button:focus{
    background-color: white;
    color: royalblue;
}
#options button:nth-of-type(2n){
    margin-right: 0px;
}
#audienceWindow{
    background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: none;
}
#audienceWindow .sidebar{
    background-color: white;
    width: 250px;
    height: inherit;
    overflow: auto;
}
#audienceWindow .sidebar .bar-chart{
    margin-top: 10px;
    text-align: center;
    height: 250px;
    border-bottom: 5px solid #ccc;
    overflow: hidden;
}
#audienceWindow .sidebar .bar-chart .bar1{
    text-align: center;
    width: 16%;
    margin-left: 4%;
    margin-right: 4%;
    height: 100%;
    margin-top: 0%;
    background-color: transparent;
    font-weight: bolder;
    color: royalblue;
    border: 1px solid #555;
    float: left;
}
#audienceWindow .sidebar .bar-chart .bar2{
    text-align: center;
    width: 16%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 25%;
    height: 75%;
    background-color: transparent;
    font-weight: bolder;
    color: royalblue;
    border: 1px solid #555;
    float: left;
}
#audienceWindow .sidebar .bar-chart .bar3{
    text-align: center;
    width: 16%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 50%;
    height: 50%;
    background-color: transparent;
    font-weight: bolder;
    color: royalblue;
    border: 1px solid #555;
    float: left;
}
#audienceWindow .sidebar .bar-chart .bar4{
    text-align: center;
    width: 16%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 75%;
    height: 25%;
    background-color: transparent;
    font-weight: bolder;
    color: royalblue;
    border: 1px solid #555;
    float: left;
}
#audienceWindow .sidebar .label span{
    margin: 0px 9.5%;
    display: inline-block;
}
#audienceWindow .sidebar .close{
    margin-top: 100px;
    text-align: center;
}
#audienceWindow .sidebar .close button{
    background-color: white;
    border: 1px solid royalblue;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    color: royalblue;
}
#audienceWindow .sidebar .close button:hover{
    background-color: royalblue;
    color: #fff;
}
#audienceWindow .sidebar .close button:active{
    background-color: royalblue;
    color: #fff;
}
#audienceWindow .sidebar .close button:focus{
    background-color:royalblue;
    color: #fff;
}
#scoreWindow{
    background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: none;
}
#scoreWindow .sidebar{
    background-color: white;
    width: 250px;
    height: inherit;
    overflow: auto;
}
#scoreWindow .sidebar .widget{
    margin-top: 10px;
    text-align: center;
    height: 250px;
    text-align: center;
}
#scoreWindow .sidebar .widget h1{
    color: royalblue ;
    font-size: 20px;
}
#scoreWindow .sidebar .widget h2{
    background-color: royalblue;
    color: #fff;
    height: 40px;
    width: 40px;
    margin-left: 35%;
    padding: 10px;
    border-radius: 100px;
}
#scoreWindow .sidebar .close{
    margin-top: 100px;
    text-align: center;
}
#scoreWindow .sidebar .close button{
    background-color: white;
    border: 1px solid royalblue;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    color: royalblue;
}
#scoreWindow .sidebar .close button:hover{
    background-color: royalblue;
    color: #fff;
}
#scoreWindow .sidebar .close button:active{
    background-color: royalblue;
    color: #fff;
}
#scoreWindow .sidebar .close button:focus{
    background-color: royalblue;
    color: #fff;
}

#callWindow{
    background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: none;
}
#callWindow .sidebar{
    background-color: white;
    width: 250px;
    height: inherit;
    overflow: auto;
}
#callWindow .sidebar .widget{
    padding: 8px;
    font-weight: bolder;
    color: #555;
    text-align: left;
    font-size: 10px;
    height: 250px;
}
#callWindow .sidebar .close{
    margin-top: 100px;
    text-align: center;
}
#callWindow .sidebar .close button{
    background-color: white;
    border:1px solid royalblue;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    color: royalblue;
}
#callWindow .sidebar .close button:hover{
    background-color: royalblue;
    color: #fff;
}
#callWindow .sidebar .close button:active{
    background-color: royalblue;
    color: #fff;
}
#callWindow .sidebar .close button:focus{
    background-color: royalblue;
    color: #fff;
}

