html *{
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    outline: none;
    color: yellow;
    font-family: Noto sans,Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url("../assets/bg1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#wrapper{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#main{
    padding: 13% 10% 0% 10%;
}
#main h1{
    font-size: 50px;
    font-weight: bolder;
    margin: 0px 0px 20px 0px;
}
#main p{
    font-size: 12px;
    font-weight: bolder;
    width: 80%;
    display: inline-block;
    margin: 0px 0px 20px 0px;
}

#main a{
    font-size: 14px;
    font-weight: bolder;
    margin: 0px 0px 20px 0px;
    display: inline-block;
    color: #fff;
    background-color: goldenrod;
    padding: 10px;
    width:200px;
    border-radius: 50px;

}
#main a:hover{
    color: #555;
    background-color: yellow;
}